<div class='container'>
  <div class='col-sm-3'>
    <app-nav-menu></app-nav-menu>
  </div>
  <div class='col-sm-9'>
    <table class='table'>
      <thead>
        <tr>
          <th>Currency</th>
          <th>Value</th>
          <th>Amount to buy</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let currency of currencies">
          <td>{{ currency.Name }}</td>
          <td>{{ currency.Value | number:'1.5-5' }}</td>
          <td>
            <input #amount
                   (keyup.enter)="buyCurrency(currency.CurrencyId, amount.value); amount.value=''">
          </td>
          <td><button (click)="buyCurrency(currency.CurrencyId, amount.value); amount.value=''">Buy</button></td>
        </tr>
      </tbody>
    </table>
    <table class='table'>
      <thead>
        <tr>
          <th>Currency</th>
          <th>Your amount</th>
          <th>Amount to sell</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let wallet of wallets">
          <td>{{ wallet.Name }}</td>
          <td>{{ wallet.Amount | number:'1.1-2'}}</td>
          <td>
            <input #amount (keyup.enter)="sellCurrency(wallet.CurrencyId, amount.value); amount.value=''">
          </td>
          <td><button (click)="sellCurrency(wallet.CurrencyId, amount.value); amount.value=''">Sell</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
